// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.bg-dark-app {
    background-color: #303030;
}

#app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app > main {
    width: 650px;
}

#app .card {
    background-color: transparent;
    border: none;
}

#app img {
    height: 200px;
}
#app h1 {
    color: #f8fafc;
}

#app .card-header {
    border-bottom: none;
    background-color: transparent;
}

#not-registered {
    color: #aeaeae;
}

#not-registered a {
    color: #fff;
    text-decoration: none;
}

#card-register {
    background-color: #fff !important;
}

.btn-primary {
    background-color: #8362e7 !important;
    border-color: #8362e7 !important;
}
.btn-danger {
    background-color: #FF385E !important;
    border-color: #FF385E !important;
}

.nav-bar-custom {
    background-color: #303030;
}

#content-dashboard {
    height: 85vh;
}
#row-100 {
    height: 85vh;
}

.table-users {
    border: solid 2px #b3b3b3;
    display: block;
    font-size: 11px !important;
}

.table-users thead {
    background-color: rgba(48, 48, 48, 1);
    color: #fff;
}

.card-dashboard {
    height: 300px;
}
.card-dashboard-xs {
    height: 260px;
}

tbody {
    display: block;
    height: 190px;
    overflow-y: auto;
}

thead,
tbody tr {
    display: table;
    // width: 100%;
    table-layout: fixed;
}

thead {
    width: calc(100%);
}


.scroller::-webkit-scrollbar {
    width: 8px;
}

/* Estilos barra (thumb) de scroll */
.scroller::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

.scroller::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

.scroller::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Estilos track de scroll */
.scroller::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

.scroller::-webkit-scrollbar-track:hover,
.scroller::-webkit-scrollbar-track:active {
    background: #d4d4d4;
}
